body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow
}
table, td {
    background-color: lightblue;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    height:fit-content;
}

#container-main {
    display: flex;
}

button {
    border-color: black;
    background-color: rgb(77, 187, 224);
    border-radius: 25%;
}

#input {
    display: inline-flex;
    flex-direction: column;
    background-color: lightgreen;

    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    height: fit-content;

    border:solid;
    border-radius: 15%;
}

label {
    text-align: center;
}

input, select {
    width:75%;
    align-self: center;
    background-color: rgb(167, 238, 167);
}

@media screen and (min-width: 800px) {
    #extra {
        margin-left: 100px;
    }
    
    #container-main {
        flex-direction: row;
    }
    
    
    .btn-favorite {
        height: 85px;
        width: 85px;
    }

    #filter {
        height:90px;
        margin-bottom: 5%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .remove {
        background-color: rgb(252, 122, 122);
    }
}

@media screen and (max-width: 800px) {
    table {
        margin-bottom: 50px;
    }
    img {
        width: 60px;
        height: 60px;
    }
    select {
        height:40px
    }
    button {
        width: 75px;
        height: 50px;
    }
    #favorites {
        min-width: none;
    }
    #container-main {
        flex-direction: column;
    }
}