body {
    font-family: Arial, Helvetica, sans-serif;
}
table, td {
    background-color: lightblue;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

#container-main {
    display: flex;
}

button {
    border-color: black;
    background-color: rgb(77, 187, 224);
    border-radius: 25%;
}

@media screen and (min-width: 800px) {
    table {
        margin-right: 100px;
    }
    
    #container-main {
        flex-direction: row;
    }
    
    
    .btn-favorite {
        height: 85px;
        width: 85px;
    }
    .remove {
        background-color: rgb(252, 122, 122);
    }
}

@media screen and (max-width: 800px) {
    table {
        margin-bottom: 50px;
    }
    img {
        width: 60px;
        height: 60px;
    }
    select {
        width:60px;
        height:40px
    }
    button {
        width: 75px;
        height: 50px;
    }
    #favorites {
        min-width: none;
    }
    #container-main {
        flex-direction: column;
    }
}